@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


@font-face {
    font-family: 'Hanley Pro Sans White Extra';
    src: url('camin_catre_font/HanleyProSansWhiteExtra.ttf') format('truetype');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Hanley Pro Sans White Extra', sans-serif;
    list-style: none;
    text-decoration: none;
}

li, a, button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #2c2c2c;
    text-decoration: none;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    height: 150px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
    background-color:  #1d1e1f; /* Adaugă culoarea neagră */
}

.logo img {
    width: 300px;

}

.navmenu{
    display: flex;
}

.navmenu a{
    color: #5383d3;
    font-size: 16px;
    padding: 10px 20px;
    font-weight: 400;
    transition: all .42s ease;
}

.navmenu a:hover{
    color: #ddd;
}

.nav-icon{
    display: flex;
    align-items: center;
}

.nav-icon i{
    margin-right: 20px;
    color: #5383d3;
    font-size: 25px;
    font-weight: 400;
    transition: all .42s ease;
}

.nav-icon i:hover{
    transform: scale(1,1);
    color: #ddd;
}


#menu-icon{
    font-size: 20px;
    color: white;
    z-index: 10001;
    cursor: pointer;
}

section{
    padding: 5px 10%;
}


/* Restul stilurilor tale */

/* Stiluri pentru dropdown */
.dropdown {
    position: absolute;
    top: 105px; 
    left: -250px; /* poziționarea elementului la 50px distanță de partea stângă a paginii */
}

/* Dropdown Button */
.dropbtn {
    background-color: #6597D6;
    color: #fff;
    padding: 16px;
    font-size: 16px;
    border: none;
  }

.dropbtn .fas.fa-bars {
    /* Stiluri pentru iconița de meniu */
    margin-right: 5px; /* Adaugă un spațiu mic între iconiță și text */
}


.dropbtn i {
    margin-right: 100px; /* Adaugă un spațiu mic între simbol și text */
}
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: #6597D6;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}

  .dropdown-content.show {  display: block;}
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {color: #6597D6;background-color: rgba(0,0,0,0.2);}

  
main {
    display: flex;
    flex-grow: 1; /* Permite elementului main să crească și să ocupe spațiul disponibil */
    padding: 20px; 
}

aside {
    width: 200px; /* Ajustează dimensiunea dorită pentru bara laterală */
    background-color: #f2f2f2; /* Adaugă o culoare de fundal, dacă dorești */
}

.Cont1, .Cont2 {
    display: block;
    margin-top: 400px;
    margin-bottom: 20px; /* Adaugă un spațiu între imaginile Cont1 și Cont2 */
}

.Cont1 img, .Cont2 img {
    width: 100%; /* Asigură-te că imaginile se extind pe întreaga lățime a containerului */
    display: block; /* Elimină spațiul rezervat pentru aliniere */
}

button{
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgba(0, 136, 169, 0.8);
}
