@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


@font-face {
    font-family: 'Hanley Pro Sans White Extra';
    src: url('camin_catre_font/HanleyProSansWhiteExtra.ttf') format('truetype');
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #24252A;
}


li, a, button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
    text-align: center;
}

.header {
    display: flex;
    flex-direction: column; /* Așază elementele vertical */
    align-items: center; /* Aliniază elementele pe axa orizontală */
    padding: 20px;
    background-color: #24252A;
}

/* Stiluri pentru butoane */
.user-icon, .cart-icon {
    border: 2px solid #fff; 
    border-radius: 100%; 
    background-color: transparent; 
    padding: 10px; 
    margin-left: 0px; 
    margin-right: 30px;
    cursor: pointer; 
}

/* Stiluri pentru iconițe */
.user-icon, .cart-icon {
    margin-left: 10px; /* Adaugă un spațiu între butoane și textul din meniu */
    margin-right: 0px; /* Adaugă un spațiu între butoane și textul din meniu */
}

/* Stiluri la hover */
.user-icon:hover, .cart-icon:hover {
    background-color: #000; /* Schimbă culoarea fundalului la hover */
    color: #6597D6; /* Schimbă culoarea iconițelor la hover */
}


.logo {
    width: 350px; 
}

.footer-left {
    display: flex; /* Utilizează flexbox pentru a alinia imaginile într-un container flexibil */
    align-items: center; /* Aliniază imaginile pe axa verticală (în cazul în care au înălțimi diferite) */
}

.logomini, .colab {
    height: auto; /* Asigură-te că înălțimile imaginilor se ajustează automat pentru a păstra proporțiile */
    width: auto; /* Asigură-te că lățimile imaginilor se ajustează automat pentru a păstra proporțiile */
    max-height: 110px; /* Setează o înălțime maximă pentru imaginile tale pentru a controla dimensiunea lor */
    margin-right: 20px; /* Adaugă un spațiu între imaginile pentru a le separa */
}

.visa{
    width: 120px; 
}

.nav_links {
    margin-top: 100px; 
    margin-right: 200px;
}

.nav_links ul {
    display: flex;
    list-style: none;
    margin: 20;
    padding: 0;
}

.nav_links li {
    margin-right: 20px;
}

.nav_links li a {
    color: #6597D6;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav_links li a:hover {
    color: #0088a9;
}

.search-container {
    position: relative;
}

.search-field {
    width: 300px; /* Lățimea dorită pentru câmpul de căutare */
    height: 40px; /* Înălțimea dorită pentru câmpul de căutare */
    padding-right: 40px; /* Asigură suficient spațiu pentru iconița de căutare */
    border: 1px solid #ccc; /* Stilurile pentru bordură */
    border-radius: 20px; /* Rotunjirea colțurilor câmpului de căutare */
}

.search-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px; /* Lățimea iconiței de căutare */
    height: 40px; /* Înălțimea iconiței de căutare */
    background-color: transparent; /* Asigură culoarea de fundal transparentă */
    border: none; /* Elimină orice bordură */
    cursor: pointer; /* Transformă cursorul în mână la hover */
}

.search-button i {
    font-size: 20px; /* Dimensiunea iconiței de căutare */
    color: #666; /* Culorea iconiței de căutare */
}

/* Restul stilurilor tale */

/* Stiluri pentru dropdown */
.dropdown {
    position: absolute;
    top: 120px; 
    left: -220px; /* poziționarea elementului la 50px distanță de partea stângă a paginii */
}

/* Dropdown Button */
.dropbtn {
    background-color: #6597D6;
    color: #fff;
    padding: 16px;
    font-size: 16px;
    border: none;
  }

  .dropbtn .fa-bars-icon {
    margin-right: 5px;
}


.dropbtn i {
    margin-right: 5px; /* Adaugă un spațiu mic între simbol și text */
}
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: #6597D6;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}

  .dropdown-content.show {  display: block;}
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {color: #6597D6;background-color: rgba(0,0,0,0.2);}

  


button{
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgba(0, 136, 169, 0.8);
}