.products {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Două coloane de aceeași lățime */
    gap: 2rem; /* Adaugă un spațiu între elemente */
}

.product {
    padding: 20px; /* Adaugă spațiu în jurul produselor */
    background-color: #fff; /* Adaugă un fundal alb pentru produse */
    border-radius: 10px; /* Adaugă colțuri rotunjite pentru produse */
    text-align: center; /* Aliniază textul în centru */
}

.product h3 {
    font-size: 18px; /* Mărește dimensiunea fontului pentru titlu */
    margin-bottom: 10px; /* Adaugă spațiu între titlu și preț */
}

.product p {
    font-size: 16px; /* Mărește dimensiunea fontului pentru preț */
    margin-bottom: 10px; /* Adaugă spațiu între preț și buton */
}

.product button {
    padding: 10px 20px;
    background-color: #6597D6; /* Schimbă culoarea de fundal a butonului */
    color: #fff; /* Schimbă culoarea textului butonului */
    border: none;
    border-radius: 5px; /* Rotunjirea marginilor */
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 16px; /* Mărimea fontului */
}

.product button:hover {
    background-color: #5383d3; /* Schimbă culoarea butonului la hover */
}
